<div class="row playlist">
  <div class="col-sm-6">
  <h5>Your video library !</h5>

    <div class="row">
      <div class="col-sm-12">
        <div class="panel-group">
          <div class="panel panel-default panel-custom" ng-init="show = false;" ng-if="video.title != null"  ng-repeat="video in vm.videos track by $index">
            <div class="panel-heading" role="tab">
              <div class="row">
                <div class="col-sm-6">
                  <img height="90" width="160" src="{{video.thumbnails.medium.url}}">
                </div>
                <div class="col-sm-6">
                  <p class="panel-title">
                    {{ video.title  }}
                  </p>
                  <span ng-click="removeVideo(video)">
                    <a href="">Remove</a>
                  </span>

                  <span ng-click="show = !show; addVideo($index, result, show)">
                    <a ng-hide="show" href="">Edit tags</a>
                    <a ng-show="show" href="">Save</a>
                  </span>
                </div>
              </div>
            </div>
            <div ng-show="show" class="panel-collapse" role="tabpanel">
              <div class="panel-body">
                <yp-tags video="video" src="vm.videos" type="video_library"></yp-tags>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <yp-video src="vm.videos"></yp-video>
  </div>
</div>



