<div class="row sub-nav">
  <div class="col-lg-6">
      <input type="text" ng-show="vm.playlists.length > 0" ng-model="searchText" ng-change="vm.setFilter()" class="form-control" placeholder="Search by name">
      

      <div ng-hide="vm.playlists.length > 0" class="alert alert-info" role="alert"><p>No playlist :(</p></div>
  </div><!-- /.col-lg-6 -->

  <div class="col-lg-6">
  	<button ui-sref="videos" class="videos btn btn-primary pull-right">Add videos</button>
  	<button ng-click="vm.addPlaylist()" class="btn btn-primary pull-right">Add a playlist</button>
  </div>
</div><!-- /.row -->

<div class="row">
	<div class="col-sm-12">
		<div class="panel-group" role="tablist" aria-multiselectable="true" bs-collapse>
		  <div class="panel panel-default panel-custom"  ng-repeat="playlist in vm.playlists  | filter: filter">
		    <div class="panel-heading" role="tab">
		    	<div class="row">
		    	<div class="col-sm-6">
			      <h4 class="panel-title">
			        <a bs-collapse-toggle>
			          <span> {{ playlist.title }}</span>
			        </a>
			      </h4>
			    </div>
			    <div class="col-sm-6">
		      		<button ui-sref="playlist({id: playlist.id})" class="pull-right btn btn-primary edit">Edit</button>
		      		<button ng-click="removePlaylist(playlist)" class="pull-right btn btn-danger delete">Delete</button>
		      	</div>
		      	</div>
		    </div>
		    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
				<div class="panel-group">
					<div ng-hide="playlist.videos.length > 0" class="alert alert-info" role="alert"><p>No videos :(</p></div>
					<div class="panel panel-default" ng-init="show = false;" ng-repeat="video in playlist.videos track by $index">

						<div class="" role="tab">
							<div class="row">
								<div class="col-sm-3">
									<img height="90" width="160" src="{{video.thumbnails.medium.url}}">
								</div>
								<div class="col-sm-6">
									<p class="panel-title">
										{{ video.title }}
									</p>
								</div>
								<div class="col-sm-3">
									<p class="panel-title">
										<span ng-repeat="tag in video.tags" class="badge tag">
										  	<span>{{ tag }}</span>
										</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
		    </div>
		  </div>
		</div>
	<div class="col-sm-8">
</div>





