<div class="row playlist">
  <div class="col-sm-6">
    <h5>Your playlist !</h5>
    <div class="row">
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-value="vm.playlist.title" ng-model="titlePlaylist" placeholder="Title">
      </div>
      <div class="col-sm-6">
        <button class="btn btn-primary pull-right" ng-if="vm.playlist.videos.length == 0" ng-click="createPlaylist()" ng-disabled=" filteredItems.length == 0">Save the playlist</button>
        <button class="btn btn-primary pull-right" ng-if="vm.playlist.videos.length > 0" ng-click="updatePlaylist()" ng-disabled=" filteredItems.length == 0">Update the playlist</button>
      </div>
    </div>
  
    <div class="panel-group panel-custom">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <span class="badge tag" ng-repeat="tag in vm.playlist.tags track by $index">
              <span>{{ tag }}</span>
              <a ng-click="removeTag(tag)"><i class="remove glyphicon glyphicon-remove glyphicon-white"></i></a> 
            </span>
             <div class=" no-result" role="alert" ng-if="vm.playlist.tags.length == 0"><p>No tags</p></div>          
          </div>
        </div>
      </div>


    <div class="panel-group panel-custom">
      <div class="panel panel-default"ng-init="show = false;" ng-repeat="video in vm.playlist.videos track by $index">
        <div class="panel-heading" role="tab">
          <div class="row">
            <div class="col-sm-6">
              <img height="90" width="160" src="{{video.thumbnails.medium.url}}">
            </div>
            <div class="col-sm-6">
              <p class="panel-title">
                {{ video.title }}
              </p>
              <span ng-click="show = !show; ">
                <a ng-hide="show" href="">Show tags</a>
                <a ng-show="show" href="">Hide tags</a>
              </span> | 
              <span>
                <a ng-click="removeVideofromPlaylist(video)" href="">Remove</a>
              </span> 
            </div>
          </div>
        </div>
        <div ng-show="show" class="panel-collapse" role="tabpanel">
          <div class="panel-body">
            <span ng-repeat="tag in video.tags" class="badge tag">
              <span>{{ tag }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <h5>Search videos by tag(s)</h5>
    <div class="row">
      <div class="col-lg-12">
        <input type="text"  ng-model="tags" class="form-control"  bs-options="tag for tag in vm.tags" bs-typeahead placeholder="Separate tags by coma">
        <div class="alert alert-info no-result" role="alert" ng-if="filteredItems.length == 0"><p>No result</p></div>
      </div><!-- /.col-lg-6 -->

     

      <div class="col-lg-12">
      <div class="panel-group panel-custom">
        <div class="panel panel-default" ng-init="show = false;" ng-repeat="video in (filteredItems = (vm.videos | filter:tag | filter:inPlaylist ))">
          <div class="panel-heading" role="tab">
            <div class="row">
              <div class="col-sm-6">
                <img height="90" width="160" src="{{video.thumbnails.medium.url}}">
              </div>
              <div class="col-sm-6">
                <p class="panel-title">
                  {{ video.title }}
                </p>
                <span ng-click="show = !show; ">
                  <a ng-hide="show" href="">Show tags</a>
                  <a ng-show="show" href="">Hide tags</a>
                </span>
              </div>
            </div>
          </div>
          <div ng-show="show" class="panel-collapse" role="tabpanel">
            <div class="panel-body">
              <span ng-repeat="tag in video.tags" class="badge tag">
                <span>{{ tag }}</span>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>

  </div>



