<section class="yp-video">
	<h5>Add a video from YouTube</h5>
	<div class="row">
		<form ng-submit="doSearch()" name="searchVideoForm">
			<div class="col-lg-6">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="query"  placeholder="Search for...">
					<span class="input-group-btn" >
						<button class="btn btn-default">Go!</button>
					</span>
				</div>
			</div>
		</form>
	</div>

	<div class="panel-group panel-custom">
		<div class="panel panel-default" ng-hide="result.inPlaylist" ng-init="show = false;" ng-repeat="result in videosFromYouTube track by $index">
			<div class="panel-heading" role="tab">
				<div class="row">
					<div class="col-sm-6">
						<img height="90" width="160" src="{{result.snippet.thumbnails.medium.url}}">
					</div>
					<div class="col-sm-6">
						<p class="panel-title">
							{{ result.snippet.title }}
							
						</p>
						<span ng-click="show = !show; selectVideo($index, result, show)">
							<a ng-hide="show" href="">Ajouter</a>
							<a ng-show="show" href="">Annuler</a>
						</span>
					</div>
				</div>
			</div>
			<div ng-show="show" class="panel-collapse" role="tabpanel">
				<div class="panel-body">
					<yp-tags video="selectedVideo" src="src" type="video"></yp-tags>
					<button ng-click="addVideo(selectedVideo); show = false; result.inPlaylist = true " ng-disabled="selectedVideo.tags.length < 1" ng-init="show = false;" class="btn btn-default pull-right">Add video</button>
				</div>
			</div>
		</div>
	</div>
</section>