/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
/* inject:imports */
/* endinject */


body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

h4 {
	line-height: 33px;
	cursor: pointer;
}