/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: .2em .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
  line-height: 20px;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.tags  {
  padding: 15px 30px 15px 30px;
  height: auto;
}