<div class="yp-tags">
	<div class="col-lg-6">
		<p>Ajouter des tags</p>
			<div>
				<div class="input-group">
					<input type="text" class="form-control" ng-model="selectedTag" bs-options="tag for tag in vm.tags" placeholder="Enter tag" ng-change="disable()" bs-typeahead>
					<span class="input-group-btn">
						<button class="btn btn-default" ng-disabled="disableInput" ng-click="vm.addTags()">Add</button>
					</span>
				</div>
			</div>
	</div>

	<div class="row">
		<div class="col-lg-12 tags">
			<span ng-repeat="tag in video.tags" class="badge tag">
			  <span>{{ tag }}</span>
			  <a ng-click="vm.removeTag(tag)"><i class="remove glyphicon glyphicon-remove glyphicon-white"></i></a> 
			</span>
		</div>
	</div>
</div>



